<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <!--<link rel="stylesheet" href="../../public/css/style.css">-->
   <title>About</title>
       <link rel="icon" href="/img/icon.png"

</head>
<body>
    <div class="main-content">
     {{>headers}}

<img class="portrait" src="./img/croptool.jpg">
    </div>
       
{{>footer}}

</body>


</html>