<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/style.css">
<title>Help</title>
    <link rel="icon" href="/img/icon.png"

</head>
<body>
    <div class="main-content">
     {{>headers}}
<h2>{{help_msg}}</h2>
    </div>
    
{{>footer}}

</body>


</html>